<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855597315261-n4pmi36dhl9q8gf7dv12plap50413sjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855597315261-n4pmi36dhl9q8gf7dv12plap50413sjq</string>
	<key>API_KEY</key>
	<string>AIzaSyC2kTf5cinw_JT0x_jB1yVq5Dlz-TZhQwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>855597315261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frienzy-app</string>
	<key>PROJECT_ID</key>
	<string>frienzy-firestore</string>
	<key>STORAGE_BUCKET</key>
	<string>frienzy-firestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855597315261:ios:dd46c561e490d4663673d4</string>
</dict>
</plist>